# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django
*.log
db.sqlite3
staticfiles/

# Virtual Environment
env/
venv/
.venv/

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment Variables
.env
